

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<!-- FONTS -->
 <link href="https://fonts.googleapis.com/css?family=Courgette|Marck+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Marck+Script|Nunito" rel="stylesheet">
 
 <!--  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
 
  <link rel="stylesheet" href="../../assets/css/style.css" type="text/css">
  <title>Healthy Burger Menu</title>
</head>

<body>
  <img src="/assets/img/healthy-burger.jpg" width="700px" id="burger-box">

  {{{ body }}}


</body>
</html>